<h1>New post</h1>
<hr>
<%= error_messages_for :post %>
<%
 name = session[:username]
%>
<% form_for(@post) do |f| %>
 <p style="display:none">
    <b>Name</b><br />
    <%= f.text_field :name,:value=>"#{name}" %>
  </p>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Context</b><br />
    <%= f.text_area :context,:size=>"45x10" %>
  </p>

  <p>
    <%= f.submit "Publish" %>
  </p>
<% end %>
